---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import ContentMedia from '../components/ContentMedia.astro'
import Image from 'astro/components/Image.astro'
import placeholder from '../assets/img/accessible-components.webp'
const base = import.meta.env.BASE_URL
---

<DefaultLayout>
  <section class="my-8 md:my-12">
    <div class="page container">
      <div class="flex flex-col gap-8 pb-8 md:flex-row md:items-center md:gap-20 md:pb-12">
        <div class="min-w-[300px]">
          <h2>Hi, I'm Emily</h2>
          <p>(She/Her/Hers)</p>
        </div>
        <div class="w-full"><Image src={placeholder} alt="placeholder image"  /></div>
      </div>
      <div class="flex flex-col gap-8">
        <p>I'm honored you're considering working with me.</p>
        <p>
          I'm a Licensed Mental Health Counselor (LMHC) offering online psychotherapy to adults living in Washington DC
          and Virginia. I specialize in somatic-focused therapy, which means I help you connect with your body to heal
          from past trauma, anxiety, and depression.
        </p>
        <p>I received my Masters from University of Albany.</p>
      </div>
    </div>
  </section>

  <section class="bg-[#F7F1E5] py-8 md:py-12">
    <div class="container">
      <p class="text-xl text-[#2A6F69] md:text-2xl">Have any questions or want to book an appointment?</p>
      <div class="mt-6 flex flex-row gap-3">
        <a class="button" href=`${base}/contact`> Contact me!</a>
        <a class="button color-secondary" href=`${base}/faq/`> FAQ </a>
      </div>
    </div>
  </section>
</DefaultLayout>
