---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import { Media } from 'accessible-astro-components'
import smallImg from '../assets/img/EmilyLaingLPC-about-small.jpg'
import largeImg from '../assets/img/EmilyLaingLPC-about-large.jpg'
import Feature from '../components/Feature.astro'
---

<DefaultLayout title="About">
  <section class="my-8 md:my-12">
    <div class="page container">
      <div class="grid grid-cols-1 gap-y-8 lg:grid-cols-2 lg:gap-x-12">
        <div class="flex min-w-[300px] flex-col gap-4 lg:gap-8">
          <Media
            alt="Emily Laing, LPC, a white woman in her mid to late 30s with shoulder-length auburn hair, smiles towards the camera. She wears a grey wool coat over a green sweater and denim collared shirt. She stands outside in front a tree and snow."
            src={smallImg.src}
            class="block w-full rounded-md lg:hidden"
          />
          <div>
            <h2>Hi, I'm Emily!</h2>
            <p>(She/Her/Hers)</p>
          </div>
          <p>
            I’ve been a therapist since 2012 and I deeply value my work. I bring my curiosity, warmth, and intelligence
            to my clients and love nothing more than working together to help you feel seen, hopeful, and empowered.
          </p>
          <p>
            I received my master's in mental health counseling from the University at Albany, SUNY in Albany, New York
            in 2011. I grew up in rural Central New York, just east of the Finger Lakes, and spent my adulthood living
            in and around Albany, Syracuse, and Ithaca, New York before moving to DC with my wife in 2019.
          </p>
          <p>
            It's here in DC and Northern Virginia that I have developed my therapy practice into what I once imagined -
            deep, meaningful therapeutic relationships with adults who care about living their values, who are figuring
            out healthy communication and boundaries with their loved ones, and who are always learning and growing. I
            am most practiced at supporting clients who deal with anxiety, depression, and ADHD. Some of the topics I
            often explore include family relationships, work and career stress, social justice, spirituality, dating,
            and friendships.
          </p>
          <p>
            As a therapist, I am somewhere in the middle of the directive-non directive spectrum. That means that my
            main tool is empathic listening, but I am also an active participant in the conversation. You will see my
            genuine reactions, I will sometimes use humor, and I will both ask you questions and explain why I am asking
            them, if you want to know. I will invite your feedback throughout our work together because I want to be
            sure that what we’re doing is working for you.
          </p>
          <p>
            When I'm not working, you can find me hanging out with my wife, toddler, and two cats. A good day involves
            some time with nature, ice cream, and audiobooks, my favorites being memoirs, queer rom coms,
            self-help/psychology (of course), and Jane Austen, as read by brilliant British actress Juliet Stevenson.
          </p>
          <div class="flex min-w-[300px] flex-col gap-8 pt-8 lg:hidden">
            <Feature title="Education">
              <div class="text-sm font-bold sm:text-base">Master of Science, Mental Health Counseling</div>
              <div class="text-sm sm:text-base">University at Albany, SUNY, 2011</div>
            </Feature>
            <Feature title="Advanced Training">
              <div class="pb-4">
                <div class="pb-2 text-sm font-bold sm:text-base">
                  Somatic Experiencing, Professional Training through Somatic Experiencing International
                </div>
                <ol class="list-disc pl-4">
                  <li class="text-sm sm:text-base">Intermediate levels I, II, and III, April 2021 - January 2022</li>
                  <li class="text-sm sm:text-base">Beginning levels I, II, and III, February 2020 - January 2021</li>
                </ol>
              </div>
              <div class="pb-2 text-sm font-bold sm:text-base">Triple P (Positive Parenting Program)</div>
              <ol class="list-disc pl-4">
                <li class="text-sm sm:text-base">Primary Care (Level 3), September 2017</li>
                <li class="text-sm sm:text-base">Standard (Level 4), October 2015</li>
              </ol>
            </Feature>
          </div>
        </div>
        <div>
          <Media
            alt="Emily Laing, LPC, a white woman in her mid to late 30s with shoulder-length auburn hair, smiles towards the camera. She wears a grey wool coat over a green sweater and denim collared shirt. She stands outside in front a tree and snow."
            src={largeImg.src}
            class="hidden w-full rounded-md pb-12 lg:block"
          />
          <div class="hidden flex-col gap-12 lg:flex">
            <Feature title="Education">
              <div class="text-sm font-bold sm:text-base">Master of Science, Mental Health Counseling</div>
              <div class="text-sm lg:text-base">University at Albany, SUNY, 2011</div>
            </Feature>
            <Feature title="Advanced Training">
              <div class="pb-4">
                <div class="pb-2 text-sm font-bold sm:text-base">
                  Somatic Experiencing, Professional Training through Somatic Experiencing International
                </div>
                <ol class="list-disc pl-4">
                  <li class="text-sm sm:text-base">Intermediate levels I, II, and III, April 2021 - January 2022</li>
                  <li class="text-sm sm:text-base">Beginning levels I, II, and III, February 2020 - January 2021</li>
                </ol>
              </div>
              <div class="pb-2 text-sm font-bold sm:text-base">Triple P (Positive Parenting Program)</div>
              <ol class="list-disc pl-4">
                <li class="text-sm sm:text-base">Primary Care (Level 3), September 2017</li>
                <li class="text-sm sm:text-base">Standard (Level 4), October 2015</li>
              </ol>
            </Feature>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="bg-neutral-200 py-8 md:py-12">
    <div class="container">
      <p class="text-xl text-[#2A6F69] md:text-2xl">Have any questions or want to book an appointment?</p>
      <div class="mt-6 flex flex-row gap-3">
        <a class="button" href=`/contact`> Contact me!</a>
        <a class="button color-secondary" href=`/faq`> FAQ </a>
      </div>
    </div>
  </section>
</DefaultLayout>
