---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import { Media } from 'accessible-astro-components'
---

<DefaultLayout title="About">
  <section class="my-8 md:my-12">
    <div class="page container">
      <div class="grid grid-cols-1 gap-8 pb-8 md:grid-cols-2 md:pb-12">
        <div class="flex min-w-[300px] flex-col gap-8 md:gap-12">
          <div>
            <h2>Hi, I'm Emily</h2>
            <p class="pb-4">(She/Her/Hers)</p>
            <p>I'm honored you're considering working with me.</p>
          </div>
          <Media
            alt="Emily Laing, LPC, a white woman in her mid to late 30s with shoulder-length auburn hair and wearing a green sweater with a blue and white-striped collared shirt underneath, smiles towards the camera. She sits in front of a bookshelf with a statue reading 'Sit still and heal'."
            src={`/img/EMILY-LAING-LPC.jpg`}
            class="block w-full rounded-md md:hidden"
          />
          <p>
            I'm a Licensed Mental Health Counselor (LMHC) offering online psychotherapy to adults living in Washington
            DC and Virginia. I specialize in somatic-focused therapy, which means I help you connect with your body to
            heal from past trauma, anxiety, and depression.
          </p>
          <p>I received my Masters from University of Albany.</p>
        </div>
        <Media
          alt="Emily Laing, LPC, a white woman in her mid to late 30s with shoulder-length auburn hair and wearing a green sweater with a blue and white-striped collared shirt underneath, smiles towards the camera. She sits in front of a bookshelf with a statue reading 'Sit still and heal'."
          src={`/img/EMILY-LAING-LPC.jpg`}
          class="hidden w-full md:block"
        />
      </div>
    </div>
  </section>

  <section class="bg-[#F7F1E5] py-8 md:py-12">
    <div class="container">
      <p class="text-xl text-[#2A6F69] md:text-2xl">Have any questions or want to book an appointment?</p>
      <div class="mt-6 flex flex-row gap-3">
        <a class="button" href=`/contact`> Contact me!</a>
        <a class="button color-secondary" href=`/faq`> FAQ </a>
      </div>
    </div>
  </section>
</DefaultLayout>
