---
import { Media } from 'accessible-astro-components'
import DefaultLayout from '../layouts/DefaultLayout.astro'
import { Accordion, AccordionItem } from 'accessible-astro-components'
import smallImg from '../assets/img/EmilyLaingLPC-faq-small.jpg'
import largeImg from '../assets/img/EmilyLaingLPC-faq-large.jpg'
---

<DefaultLayout title="FAQ">
  <section class="my-8 md:my-12">
    <div class="page container grid grid-cols-1 gap-8 md:grid-cols-2">
      <div class="flex flex-col justify-center gap-4 md:justify-start md:gap-8">
        <Media
          alt="Emily Laing, LPC, a white woman in her mid to late 30s with shoulder-length auburn hair, smiles towards the camera. She wears a green sweater with a denim collared shirt underneath, jeans, and blue slippers. She sits cross-legged on a beige couch."
          src={smallImg.src}
          class="block rounded-md md:hidden"
        />
        <h2 class="">FAQ</h2>
        <p class="text-xl">Have questions that aren't addressed here?</p>
        <a class="button color-secondary self-start" href=`/contact`>Contact me!</a>
        <Accordion>
          <AccordionItem name="exclusive" title="What is online therapy?">
            <p>
              Online therapy (also known as telehealth or virtual therapy) is therapy that takes place over the Internet
              instead of in person. I use a secure video platform called Simple Practice to conduct sessions.
            </p>
          </AccordionItem>
          <AccordionItem name="exclusive" title="Do you take insurance?">
            <p>
              Yes! I am in-network with CareFirst BlueCross BlueShield. If I'm not in-network with your insurance, I can
              provide you with a superbill to submit to your insurance company for reimbursement.
            </p>
          </AccordionItem>
          <AccordionItem name="exclusive" title="What are your fees?">
            <p>
              Out of network, my fees are $200 per 50-minute session. If this is a barrier to you receiving care, please
              contact me to discuss options.
            </p>
            <p>
              If you have CareFirst BlueCross BlueShield, your fees will be determined by your insurance plan. If you
              are unsure of your benefits, please call your plan directly.
            </p>
          </AccordionItem>
          <AccordionItem name="exclusive" title="What is your cancellation policy?">
            <p>
              To avoid a late cancellation fee, please cancel or reschedule your appointment at least 24 hours in
              advance.
            </p>
          </AccordionItem>
        </Accordion>
      </div>
      <Media
        alt="Emily Laing, LPC, a white woman in her mid to late 30s with shoulder-length auburn hair, smiles towards the camera. She wears a green sweater with a denim collared shirt underneath, jeans, and blue slippers. She sits cross-legged on a beige couch."
        src={largeImg.src}
        class="hidden w-full rounded-md md:block"
      />
    </div>
  </section>
</DefaultLayout>
