---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import { Accordion, AccordionItem } from 'accessible-astro-components'
const base = import.meta.env.BASE_URL
---

<DefaultLayout title="Home">
  <section class="py-6 md:py-8">
    <div class="container grid grid-cols-1 gap-12 md:grid-cols-2">
      <div class="flex flex-col items-start gap-4">
        <h2 class="">FAQ</h2>
        <p class="text-lg">Have questions that aren't addressed here?</p>
        <a class="button color-secondary" href=`${base}/contact`>Contact me!</a>
      </div>
      <div class="space-content">
        <Accordion>
          <AccordionItem name="exclusive" title="What is online therapy?">
            <p>
              Online therapy (also known as telehealth or virtual therapy) is therapy that takes place over the Internet
              instead of in person. I use a secure video platform called Simple Practice to conduct sessions.
            </p>
          </AccordionItem>
          <AccordionItem name="exclusive" title="Do you take insurance?">
            <p>
              Yes! I am in-network with CareFirst BlueCross BlueShield. If I'm not in-network with your insurance, I can
              provide you with a superbill to submit to your insurance company for reimbursement.
            </p>
          </AccordionItem>
          <AccordionItem name="exclusive" title="What are your fees?">
            <p>
              Out of network, my fees are $200 per 50-minute session. If this is a barrier to you receiving care, please
              contact me to discuss options.
            </p>
            <p>
              If you have CareFirst BlueCross BlueShield, your fees will be determined by your insurance plan. If you
              are unsure of your benefits, please call your plan directly.
            </p>
          </AccordionItem>
          <AccordionItem name="exclusive" title="What is your cancellation policy?">
            <p>
              To avoid a late cancellation fee, please cancel or reschedule your appointment at least 24 hours in
              advance.
            </p>
          </AccordionItem>
        </Accordion>
      </div>
    </div>
  </section>
</DefaultLayout>
