---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Feature from '../components/Feature.astro'
import ContentMedia from '../components/ContentMedia.astro'
---

<DefaultLayout>
  <section class="my-8 md:my-12">
    <div class="container page">
      <h2 class="mb-8">Services</h2>
      <div class="flex flex-col gap-8">
        <p>
          I provide individual, online psychotherapy for adults. I primarily work with clients struggling with anxiety
          and depression.
        </p>
        <p>
          I have advanced training in Somatic Experiencing (Levels 1 and 2) and enjoy working with clients who are
          interested in exploring the mind-body connection.
        </p>
        <p>
          Prior to providing individual therapy, I worked in community mental health supporting families. I received
          training in the Postive Parenting Program (Triple P), an evidence-based program empowering parents to promote
          positive behavioral change in their children. As such, I'm also excited to work with parents who are looking
          for support.
        </p>
        <p>
          As a member of the LGBTQ+ community, I am passionate about supporting clients who are navigating their
          sexuality.
        </p>
      </div>
    </div>
  </section>
  <section class="bg-[#F7F1E5] py-12">
    <div class="container">
      <p class="text-xl text-[#2A6F69] md:text-2xl">Have any questions or want to book an appointment?</p>
      <div class="mt-6 flex flex-row gap-3">
        <a class="button" href="/contact/"> Contact me! </a>
        <a class="button color-secondary" href="/about/"> FAQ </a>
      </div>
    </div>
  </section>
</DefaultLayout>
