---
const currentYear = new Date().getFullYear()
---

<footer id="footer">
  <section class="py-8">
    <div class="container">
      <p>
        &copy; {currentYear} - Emily Laing Therapy LLC.</p>
        <p>Website by <a
          href="https://github.com/allison-truhlar">Allison Truhlar</a
        >.
      </p>
    </div>
  </section>
</footer>

<style lang="scss" is:global>
  @use '../assets/scss/base/breakpoint' as *;
  @use '../assets/scss/base/outline' as *;

  #footer {
    background-color: var(--dark-100);
  }
</style>
