---

---

<section
  class="hero min-h-[calc(100vh-100px)] md:min-h-[calc(100vh-150px)] flex flex-col justify-center bg-hero-sm bg-cover bg-center bg-no-repeat md:bg-hero-md"
>
  <div class="container">
    <div class="flex flex-col items-start justify-center gap-4 p-6">
      <h1 class="title text-left text-5xl font-semibold md:text-6xl">Emily Laing, LMHC</h1>
      <h2 class="pb-4 text-3xl leading-tight md:text-4xl">Licensed Mental Health Counselor</h2>
      <h3 class="text-xl md:text-2xl">Providing Online, Somatic-Focused Therapy in Washington DC and Virginia.</h3>
      <div class="flex flex-col gap-3 min-[500px]:flex-row">
        <a class="button" href=`/contact`> Request appointment </a>
        <a class="button color-secondary" href=`/about`> Learn more about Emily </a>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  .title {
    color: var(--primary-text);
  }
  .text-gradient {
    background: linear-gradient(315deg, var(--secondary-action) 25%, var(--primary-text));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(315deg, var(--primary-200) 25%, var(--secondary-400));
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
